rules_version = '2';
// Main rules file
service cloud.firestore {
  match /databases/{database}/documents {
    // 1. Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    match /votes/{voteId} {
      // Allow public read of results
      allow read: if true;
      
      // Allow creation of a vote
      allow create: if true;
      
      // No updates or deletes allowed. Immutable once cast.
      allow update, delete: if false;
    }
    match /debug_tests/{testId} {
      allow read, write: if true;
    }
  }
}
